body {
  color: #46494c;
  font-family: "Inter", sans-serif;
}

small,
h1,
h2 {
  padding: 5px;
  padding-left: 15px;
}

h1 {
  display: inline;
}

p {
  font-size: 12px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 2px;
  font-size: 14px;
  margin-left: 0;
}

li {
  padding: 0;
  margin: 0;
}

img {
  align-items: center;
}

form {
  margin: 10px;
}

.wrapper {
  background: #fcfefe;
}

.heading {
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.weather-app {
  background: #f7fbfc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.weather-image {
  display: grid;
  place-items: center;
}

.big-text {
  font-size: 40px;
  font-weight: 500;
}

.min-temp {
  color: #808589;
}

.weather-forecast {
  margin-top: 5px;
  text-align: center;
  padding-top: 5px;
}

.box {
  cursor: pointer;
  border-radius: 5px;
  padding-top: 5px;
  max-width: 20%;
}

.weather-forecast-date {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.box:hover {
  background: #ecf2f9;
}

.footer {
  font-size: 10px;
}

.search-button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#fahrenheit {
  text-decoration: none;
}

#celsius {
  text-decoration: none;
}

#weather-description {
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 12px;
  margin-left: 15px;
}

#currrent-date {
  margin: 5px;
  padding: 5px;
}
